.placeCard{
    background-color: var(--light-brown);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    flex-direction: column;
    color:var(--beige);
}
.placeCard:hover{
    box-shadow: 0px 5px 15px var(--brown);
}
li{
    list-style: none;
}
img{
    height: auto;
    width: 100%;
    border-radius: 4px;
}