.searchContainer{
    border-radius: 10px;
    background-color: var(--brown);
    width: fit-content;
    color: var(--beige);
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
}
.searchContainer:hover{
    box-shadow: 0 5px 15px var(--light-brown);
}

.foodForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.75rem;
    padding: .5rem;
}
button{
    background-color: var(--orange);
    border-radius: 8px;
    border: none;
    color:var(--beige);
    font-weight: 600;
    padding:0.75rem;
}

input{
    border-radius: 16px;
    border-color: var(--orange);
    background-color: var(--beige);
}
input:focus{
    outline: none;
}