.resultsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.noResultsContainer{
    background-color: var(--light-brown);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    flex-direction: column;
    color:var(--beige);
    cursor: pointer;
}
.noResultsContainer:hover{
    box-shadow: 0px 5px 15px var(--brown);
}